In [20]:
import pandas as pd
import openpyxl
from urllib.request import urlopen
from bs4 import BeautifulSoup
from html_table_parser import parser_functions as parser

In [6]:
df = pd.DataFrame(columns=['NO', '기업명', '기업코드 첨부내용', 'ESG등급', '환경', '사회', '지배구조', '평가년도', '비고 (조정시기)'])
for page_num in range(1,105):
    url = f'https://www.cgs.or.kr/business/esg_tab04.jsp?pg={page_num}&pp=10&skey=&svalue=&sfyear=2022&styear=2022&sgtype=&sgrade=#ui_contents'
    result = urlopen(url)
    html = result.read()
    soup = BeautifulSoup(html, 'html.parser')
    temp = soup.find_all('table')
    p = parser.make2d(temp[0])
    columns = p[0]
    df2=pd.DataFrame(p[1:],columns=p[0])
    df = pd.concat([df,df2],axis=0)
df # 딕셔너리는 순서를 보장하지 않음

      NO     기업명 기업코드 첨부내용 ESG등급 환경  사회 지배구조  평가년도 비고 (조정시기)
0   1033  AJ네트웍스    095570    B+  C  B+   B+  2022
1   1032   AK홀딩스    006840    B+  B   A    B  2022
2   1031   AP시스템    265520     D  D   C    C  2022
3   1030     BGF    027410    B+  A  A+    B  2022
4   1029  BGF리테일    282330     A  A  A+    A  2022
..   ...     ...       ...   ... ..  ..  ...   ...       ...
8      5  휴온스글로벌    084110     C  C  B+    D  2022
9      4      휴젤    145020     C  D   C    C  2022
0      3  흥국생명보험    818586     -  -   -    B  2022
1      2    흥국화재    000540    B+  C  B+   B+  2022
2      1    흥아해운    003280     C  C   B    C  2022

[1033 rows x 9 columns]

In [14]:
df.set_index('NO',append=False,inplace=True)
df

         기업명 기업코드 첨부내용 ESG등급 환경  사회 지배구조  평가년도 비고 (조정시기)
NO
1033  AJ네트웍스    095570    B+  C  B+   B+  2022
1032   AK홀딩스    006840    B+  B   A    B  2022
1031   AP시스템    265520     D  D   C    C  2022
1030     BGF    027410    B+  A  A+    B  2022
1029  BGF리테일    282330     A  A  A+    A  2022
...      ...       ...   ... ..  ..  ...   ...       ...
5     휴온스글로벌    084110     C  C  B+    D  2022
4         휴젤    145020     C  D   C    C  2022
3     흥국생명보험    818586     -  -   -    B  2022
2       흥국화재    000540    B+  C  B+   B+  2022
1       흥아해운    003280     C  C   B    C  2022

[1033 rows x 8 columns]

In [21]:
df.to_csv('ESG Score.csv')
df.to_excel('ESG Score.xlsx')